<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h2>Listado de Usuarios</h2>
            <a th:href="@{/usuario/nuevo}">Nuevo Usuario</a>
            <div th:if="${usuarios != null and !usuarios.empty}">
                <table>
                    
                </table>
                
            </div>
            
        </div>
    </body>
</html>
