<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <ul class="ulx">
            <li class="lix"><a  ></a></li>
            <li class="lix"><a ></a></li>
            <li class="lix"><a></a></li>
            <li class="lix"><a ></a></li>
        </ul>
        <div style="font-family: 'Poppins', sans-serif;">
<ul class="ule">
  <li class="lie"><a class="active" th:href="@{/}">Inicio</a></li>
  <li  class="lie"><a th:href="@{/usuario/listado/}">Usuarios</a></li>
  <li  class="lie"><a th:href="@{/cliente/listado/}">Clientes</a></li>
  <li  class="lie"><a th:href="@{/producto/listado/}">Productos</a></li>
  <li  class="lie"><a th:href="@{/categoria/listado/}">Categorias</a></li>
  <li  class="lie"><a th:href="@{/bodega/listado/}">Bodegas</a></li>
  <li  class="lie"><a th:href="@{/factura/listado/}">Facturas</a></li>
  </ul>
        <div class="content">
            <h2> Datos de Usuario </h2>
            <br/>
            <a style="text-decoration: underline;" th:href="@{/usuario/listado}">Regresar</a>
            <br/><br/>
            <form th:action="@{/usuario/guardar}" method="post" th:object="${usuario}">
                <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>

                <label for="nombre">Nombre:</label>
                <br/>
                <input type="text" name="nombre" th:field="*{nombre}" class="form-control"/>
                <br/>
                <label for="apodo">Nombre de Usuario:</label>
                <br/>
                <input type="text" name="apodo" th:field="*{apodo}" class="form-control"/>
                <br/>
                <label for="clave">Clave:</label>
                <br/>
                <input type="password" name="clave" th:field="*{clave}" class="form-control"/>
                <br/>
                <label for="activo">Activo:</label>
                <input type="checkbox" name="activo" th:field="*{activo}" />
                <br/><br/>
                <input type="submit" name="guardar" value="Guardar" class="Guardar"/>
            </form>
        </div>
    </body>
</html>

