<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" >Close &times;</button>
  <a href="listado.html" class="w3-bar-item w3-button" >Clientes</a>

  <a href="../categoria/listado.html" class="w3-bar-item w3-button">Productos</a>
  <a href="../producto/listado.html" class="w3-bar-item w3-button">Categorias</a>
</div>

<div class="w3-main" style="margin-left:200px">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large">&#9776;</button>
  <div class="w3-container">
    <h1>Crome</h1>
  </div>
</div>


   
</div>
        <div>
            <h2>Listado de Clientes</h2>
            <br/>
            <a th:href="@{/cliente/nuevo}">Nuevo Cliente</a>
            <br/><br/>
            <div th:if="${clientes != null and !clientes.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="cliente : ${clientes}">
                            <td th:text="${cliente.nombre}"></td>
                            <td th:text="${cliente.apellidos}"></td>
                            <td th:text="${cliente.correo}"></td>
                            <td th:text="${cliente.telefono}"></td>
                            <td> <input type="checkbox" name="activa" th:checked="${cliente.activo}" disabled="true"></td>
                            <td><a th:href="@{/cliente/eliminar/} + ${cliente.idCliente}">Eliminar</a></td>
                            <td><a th:href="@{/cliente/modificar/} + ${cliente.idCliente}">Modificar</a></td>
                        </tr>
                    </tbody>

                </table>

            </div>
            
            <div th:if="${clientes == null or clientes.empty}">
                No hay clientes que mostrar...
            </div>

        </div>
    </body>
</html>