<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h2> Datos de Cliente </h2>
            <br/>
            <a th:href="@{/cliente/listado}">Regresar</a>
            <br/><br/>
            <form th:action="@{/cliente/guardar}" method="post" th:object="${cliente}">
                <input type="hidden" name="idCliente" th:field="*{idCliente}"/>

                <label for="nombre">Nombre:</label>
                <br/>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br/>
                <label for="apellidos">Apellidos:</label>
                <br/>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br/>
                <label for="correo">Correo</label>
                <br/>
                <input type="text" name="correo" th:field="*{correo}"/>
                <br/>
                <label for="telefono">Telefono</label>
                <br/>
                <input type="text" name="telefono" th:field="*{telefono}"/>
                <br/>
                <label for="activo">Activo:</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <br/><br/>
                <input type="submit" name="guardar" value="Guardar"/>
            </form>
        </div>
    </body>
</html>