<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h2>Listado de Categorias</h2>
            <br/>
            <a th:href="@{/categoria/nuevo}">Nuevo Categoria</a>
            <br/><br/>
            <div th:if="${categorias != null and !categorias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <td th:text="${categoria.nombre}"></td>
                            <td> <input type="checkbox" name="activa" th:checked="${categoria.activo}" disabled="true"></td>
                            <td><a th:href="@{/categoria/eliminar/} + ${categoria.idCategoria}">Eliminar</a></td>
                            <td><a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}">Modificar</a></td>
                        </tr>
                    </tbody>

                </table>

            </div>
            
            <div th:if="${categorias == null or categorias.empty}">
                No hay categorias que mostrar...
            </div>

        </div>
    </body>
</html>
