<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <ul class="ulx">
            <li class="lix"><a  ></a></li>
            <li class="lix"><a ></a></li>
            <li class="lix"><a></a></li>
            <li class="lix"><a ></a></li>
        </ul>
        <div style="font-family: 'Poppins', sans-serif;">
<ul class="ule">
    <li class="lie"><a class="active" th:href="@{/}">Inicio</a></li>
                <li  class="lie"><a th:href="@{/usuario/listado/}">Usuarios</a></li>
                <li  class="lie"><a th:href="@{/cliente/listado/}">Clientes</a></li>
                <li  class="lie"><a th:href="@{/producto/listado/}">Productos</a></li>
                <li  class="lie"><a th:href="@{/categoria/listado/}">Categorias</a></li>
                <li  class="lie"><a th:href="@{/bodega/listado/}">Bodegas</a></li>
                <li  class="lie"><a th:href="@{/factura/listado/}">Facturas</a></li>
  </ul>
        <div class="content">
            <h2> Datos de Categorias </h2>
            <br/>
            <a style="text-decoration: underline;" th:href="@{/categoria/listado}">Regresar</a>
            <br/><br/>
            <form th:action="@{/categoria/guardar}" method="post" th:object="${categoria}">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}" class="form-control"/> 
                <br/>
                <label for="activo">Activo:</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <br/><br/>
                <input type="submit" name="guardar" value="Guardar"class="Guardar"/>
            </form>
        </div>
    </body>
</html> 
