*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: forestgreen;
    background-size: cover;
}

.login-form{
    width: 350px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login-form h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border:0;
    outline: none;
    border-radius: 20px;
}

.login-form button{
    background-color: greenyellow;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 20px;
    border: 0;
}

/*.caja-blanca {
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    width: 50px;
    height: 50px;
    padding: 20px;
}


.login-box{
    padding: 20px 20px 10px;
    border-top: 0;
    color: black;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0;

}

.login-box bg-img roundedlogin-box bg-img rounded{
        border-radius: 0.25rem!important;
}

.login-2{
     border-radius: 0.25rem!important;
}*/

.toolbar{
    
}

.navegador{
    
}