<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <ul class="ulx">
            <li class="lix"><a class="active" href="#home"></a></li>
            <li class="lix"><a href="#news"></a></li>
            <li class="lix"><a href="#contact"></a></li>
            <li class="lix"><a href="#about"></a></li> 
        </ul>
        <div style="font-family: 'Poppins', sans-serif;">
            <ul class="ule">
                <li class="lie"><a class="active" th:href="@{/}">Inicio</a></li>
                <li  class="lie"><a th:href="@{/usuario/listado/}">Usuarios</a></li>
                <li  class="lie"><a th:href="@{/cliente/listado/}">Clientes</a></li>
                <li  class="lie"><a th:href="@{/producto/listado/}">Productos</a></li>
                <li  class="lie"><a th:href="@{/categoria/listado/}">Categorias</a></li>
                <li  class="lie"><a th:href="@{/bodega/listado/}">Bodegas</a></li>
                <li  class="lie"><a th:href="@{/factura/listado/}">Facturas</a></li>
            </ul>
            <div class="w3-main" style="margin-left:200px">
                <div class="w3-teal">
                    <button class="w3-button w3-teal w3-xlarge w3-hide-large">&#9776;</button>
                    <div class="w3-container">
                        <h1>Listado Bodegas</h1>
                    </div>
                </div>



            </div>
            <div class="content">
                <h2>Bodegas</h2>
                <br/>

                <a style=" color: #57b846;   text-align: right; " th:href="@{/bodega/nuevo}">Nueva Bodega +</a>
                <br/><br/>
                <div class="boxx">
                    <div th:if="${bodegas != null and !bodegas.empty}">
                        <table class="customers">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Activo</th>
                                    <th>Acción</th>
                                    <th></th>
                                </tr>   
                            </thead>

                            <tbody>
                                <tr th:each="bodega : ${bodegas}">
                                    <td th:text="${bodega.nombre}"></td>
                                    <td> <input type="checkbox" name="activa" th:checked="${bodega.activo}" disabled="true"></td>
                                    <td><a th:href="@{/bodega/eliminar/} + ${bodega.idBodega}">Eliminar</a></td>
                                    <td><a th:href="@{/bodega/modificar/} + ${bodega.idBodega}">Modificar</a></td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                    <div th:if="${bodegas == null or bodegas.empty}">
                        No hay bodegas que mostrar...
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
