<!DOCTYPE html>
<html>
    <head>
        <title>Inicio de Sesion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <div class="login-form">
                <h1>Chrome Store</h1>
                <br/>
                <h2>Inicio de Sesion</h2>
                <form action="#" method="post">
                    <br/>
                    <p>Nombre de Usuario</p>
                    <input type="text" name="user" placeholder="Nombre de Usuario">
                    <p>Clave</p>
                    <input type="text" name="clave" placeholder="Clave">
                    <button type="submit">Iniciar Sesion</button>
                </form>
            </div>
    </body>
</html>
