<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1> Chrome Store <h1>
        <header/>
        <h2>Inicar Sesión</h2>
        </br>
        
            <table border="1">
                <thead>
                <th>Descripcion</th>
                <th>Fecha de Salida</th>
                <th>Cilindros</th>
                <th colspan="1">Acción</th>
                </thead>
            </table>
        </div>
        <footer>
        <p>Saludos Profe</p>
        <footer/>
    </body>
</html>